@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

p, span, h1, h2, h3, h4, h5, a{
  font-family: 'Inter';
}

@keyframes scrollText {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.scrollContainer.bg-yellow {
  background-color: #D9EC00;
}

.scrollContainer.bg-dark {
  background-color: #1D1D1D;
}

.scrollContainer.border-yellow {
  border-top: 1px solid #D9EC00;
  border-bottom: 1px solid #D9EC00;
}

.scrollText {
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold; 
  white-space: nowrap;
  animation: scrollText 70s linear infinite;
}

.scrollText.text-dark {
  color: #1D1D1D;
}

.scrollText.text-yellow {
  color:#D9EC00;
}

.swiper-button-next, .swiper-button-prev {
  width: 45px!important;
  border: 1px solid #D9EC00;
  border-radius: 50%;
}

.swiper-button-next {
  transform: rotate(180deg);
}

.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-prev svg, .swiper-button-next svg{
  width: 20px !important;
  height: auto !important;
}

.shop-item img  {
  height: 180px !important;
  object-fit: contain !important;
}

.standart-img img{
  height: auto !important;
}

@media(min-width: 992px) {
  .standart-img img{
    height: 35vw !important;
    max-height: 450px !important;
  }
}

.layout-img img{
  height: auto !important;
}

@media(min-width: 992px) {
  .layout-img img{
    height: 20vw !important;
  }
}

.selected-img img {
  max-height: 400px !important;
  height: auto !important;
  object-fit: contain !important;
}

@media(min-width: 640px) {
  .selected-img img{
    height: 440px !important;
  }
}

.variation-img img {
  display: none;
  max-height: 110px;
  height: 110px !important;
  object-fit: contain !important;
}

@media(min-width: 640px) {
  .variation-img img{
    display: block;
  }
}






